{{#each beers}}
<div>
    <article class="beerimg">
        {{>beerpartial}}
        <p><strong>Food Pairing</strong>
        <ul>
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

        <p><strong>brewer tips: </strong>
            {{brewers_tips}}</p>

    </article>
</div>
{{/each}} 